---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro.">
	<main class='flex justify-center items-center pt-24 min-h-screen w-full'>
		<h1 class='text-5xl font-semibold fixed top-10'>project Beginner - <span class='text-[purple]'>Tier One</span> </h1>
		<Card  />
	</main>
</Layout>

