---
---

<section class="border-slate-500 border rounded-2xl p-6 w-full max-w-xl gap-1">
	<p id="mensaje" class="h-6 text-red-500"></p>
	<div class="flex flex-col gap-6 w-full">
		<label class="flex flex-row justify-between items-center gap-4 h-10 w-full">
			<input id="inputField" type="text" class="flex w-full h-full justify-start max-w-xs px-2 py-1 rounded-md text-black" />
			<button
				id="converting"
				class="rounded-lg bg-purple-950 px-8 py-2 font-semibold w-full max-w-[10rem] hover:bg-purple-800 hover:text-[#242424] transition-all duration-150"
				>Convert</button
			>
		</label>
		<label class="flex h-10 justify-start items-center w-full">
			<input id="outputField" disabled type="text" class="flex w-full h-full justify-start max-w-xs px-2 py-1 rounded-md text-black" />
		</label>
	</div>
</section>

<script>
	import { defaultMsg } from "../utils/defaultMsg";
	import { $ } from "../utils/getElementById";
	import { parserBeginner } from "../utils/parserBeginner";
	import { validatorInput } from "../utils/validatorInput";

	const input = $("inputField") as HTMLInputElement;
	const output = $("outputField") as HTMLInputElement;
	const btn = $("converting") as HTMLButtonElement;
	const msg = $("mensaje") as HTMLElement;

	defaultMsg(msg);
	input.addEventListener("input", () => validatorInput(input, output, msg));
	btn.addEventListener("click", () => parserBeginner(input, output));
</script>
